button {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.name-user {
    text-align: center;
}

.user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}